<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
                    body {
            background-color: rgb(155, 199, 153);

        }


        /* Styling for navigation buttons */
        .navbtn {
            background-color: rgb(227, 161, 197);
            background-image: none;
            color: #fff;
            cursor: pointer;
            font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
                Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
                Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
            font-size: 100%;
            font-weight: 900;
            line-height: 1.5;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            border-radius: 99rem;
            border-width: 2px;
            padding: 0.8rem 3rem;
        }
        .navbtn:hover {
            background-color: rgb(237, 197, 219);
        }

        /* Centered content for radio buttons and label */
        .center-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Full viewport height */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            flex-direction: column;
            
        }

        </style>
    </head>
     <!-- Header Section -->
     <div>
        <h1>Holiday Hackers</h1>
        <div style="float: right; margin-top: 20px;">
            <button class="navbtn" onclick="window.location.href='/dest'">
                Destinations
            </button>
            <button class="navbtn" onclick="window.location.href='/quiz_home'">
                Quiz
            </button>
            <button class="navbtn" onclick="window.location.href='/flights' ">
                Flights
            </button>
        </div>
    </div>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results from your Practical Quiz</title>
</head>
<body>

    <header>
        <h1>Top Destination based on your Quiz!:</h1>
    </header>
        <h2><%= topTwo[0].Destination %></h2>

    <p>Suggested Flight number: <%= topTwo[0].FlightNumber%>  </p>
    <p>Suggested Flight departure time: <%= topTwo[0].FlightDepart%>  </p>

        <h3>Suggested Activities</h3>
    <ul>
        <li><%= topTwo[0].ActivityName %>   cost: <%=topTwo[0].ActivityCost%></li>
    </ul>
        <h3>Recommended Hotel</h3>
    <ul>
        <li><%= hotelInfo.name%>  cost: <%= hotelInfo.cost %></li>
    </ul>
        <h3>Recommended Restauraunt</h3>
    <ul>
        <li><%=resta.name%>   cost: <%= resta.cost%></li>
    </ul>


</body>
</html>
